<footer>
	<div class="footerContent">
		<div class="footerText">
			<h3>Ready to revolutionize your estate sales?</h3>
			<p>Join the waitlist and be the first to know when EstateSail launches.</p>
			<a href="mailto:support@estatesail.us" class="contactButton">
				<i class="fas fa-envelope"></i>
				Contact Us
			</a>
		</div>

		{% if site.your_name %}
		<div class="footerIcons">
			{% if site.facebook_username %}
				<a href="https://facebook.com/{{ site.facebook_username }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fab fa-facebook fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}

			{% if site.twitter_username %}
				<a href="https://twitter.com/{{ site.twitter_username }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}

			{% if site.instagram_username %}
				<a href="https://instagram.com/{{ site.instagram_username }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fab fa-instagram fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}

			{% if site.mastodon_link %}
				<a rel="me" href="{{ site.mastodon_link }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fab fa-mastodon fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}

			{% if site.github_username %}
				<a href="https://github.com/{{ site.github_username }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fab fa-github fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}

			{% if site.email_address %}
				<a href="mailto:{{ site.email_address }}">
					<span class="fa-stack fa-1x">
						<i class="socialIconBack fas fa-circle fa-stack-2x"></i>
						<i class="socialIconTop fas fa-envelope fa-stack-1x"></i>
					</span>
				</a>
			{% endif %}
		</div>
		{% endif %}
		
		<div class="footerLinks">
			<a href="javascript:void(0);">Privacy Policy</a>
			<a href="javascript:void(0);">Terms of Service</a>
			<a href="mailto:support@estatesail.us">Support</a>
		</div>

		<div class="copyright">
			<p>© 2024 EstateSail. All rights reserved.</p>
		</div>
	</div>
</footer>