{% if site.show_integrations %}
<div class="integrations">
    <h3 class="integrationsTitle">Integrated With</h3>
    <div class="integrationsLogos">
        <div class="integrationItem">
            <img src="{{ 'assets/Square_Logo_package_USEN/PNG_RGB/Square_LogoLockup_Black.png' | relative_url }}" alt="Square Integration" class="integrationLogo squareLogo">
        </div>
        <div class="integrationItem">
            <img src="{{ 'assets/Shopify brand assets/01 - Logo/png/shopify_logo_black.png' | relative_url }}" alt="Shopify Integration" class="integrationLogo shopifyLogo">
        </div>
    </div>
</div>
{% endif %} 